footer(class='footer')
  div(class='container text-center')
    div(class='row')
      div(class='col-sm-3')
        ul
          li.title Overview
          li
            a(href='#') Feature Tour
          li
            a(href='#') Sell Online
          li
            a(href='#') Online Store
          li
            a(href='#') Store Design
          li
            a(href='#') Shopping Cart
          li
            a(href='#') Ecommerce Hosting
          li
            a(href='#') Marketing & SEO
          li
            a(href='#') Mobile Commerce
          li
            a(href='#') App Store
          li
            a(href='#') Feature List
          li
            a(href='#') FAQ
      div(class='col-sm-3')
        ul
          li.title Resources
          li
            a(href='#') Documentation
          li
            a(href='#') Theme Store
          li
            a(href='#') API Docs
          li
            a(href='#') Help Counter
          li
            a(href='#') E-Commerce Help
          li
            a(href='#') App Store
          li
            a(href='#') SEO Strategy
          li
            a(href='#') Forums Help
          li
            a(href='#') Community Outreach
          li
            a(href='#') Store theme
      div(class='col-sm-3')
        ul
          li.title Favorites
          li
            a(href='#') Best Practices 2015
          li
            a(href='#') Person Development
          li
            a(href='#') Frontend Methodology
          li
            a(href='#') Javascript for Designers
          li
            a(href='#') Object Orieted CSS
          li
            a(href='#') Atomic Styles
          li
            a(href='#') Top Style Guides
          li
            a(href='#') Mobile Commerce
          li
            a(href='#') FAQ
      div(class='col-sm-3')
        ul
          li.title Contact Us
          li
            a(href='#') send us an email
          li
            a(href='#') give us a call
        ul
          li.title Social
          li
            a(href='#') Facebook
          li
            a(href='#') Instagram
          li
            a(href='#') Twitter
          li
            a(href='#') Youtube
          li
            a(href='#') LinkedIn
          li
            a(href='#') Google+
