doctype html
html(lang="en")
  head
    title=pageTitle

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href= mainAssetsUrl + '/static/images/ico/favicon.ico')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto', type='text/css')
    block head
  body
    block header
    block content
    block footer
