{
  "extends": "airbnb",
  "plugins": ["eslint-plugin-import"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "complexity": [
      2,
      6
    ],
    "curly": 2,
    "eqeqeq": [
      2,
      "allow-null"
    ],
    "max-statements": [
      2,
      30
    ],
    "arrow-body-style": 0,
    "func-names": "off",
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-use-before-define": 2,
    "import/prefer-default-export" : 0,
    "import/no-dynamic-require" : 0,
    "radix": 2,
    "semi": 2,
    "space-infix-ops": 2,
    "key-spacing": 0,
    "no-multi-spaces": 0,
    "object-shorthand": [2, "consistent"],
    "no-param-reassign": 0,
    "prefer-rest-params": 0,
    "class-methods-use-this": 0,
    "strict": 0,
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": 2,
    "react/require-extension": "off",
  },
  "globals": {
    "AnalysisView": true,
    "PollingView": true,
    "Prism": true,
    "Spinner": true,
    "Timer": true,
    "moment": true
  }
}
