extends ../../inclusions/templates/main.pug

block head
  link(rel='stylesheet', href= mainAssetsUrl + '/css/main.css', type='text/css')
  link(rel='stylesheet', href= assetsUrl + '/css/main.css', type='text/css')

block header
  include ../../inclusions/templates/header.pug

block content
  div(id='container', class='container text-center')
    h1= 'Hello world !!!'
    image(src=assetsUrl + '/static/images/png/large_logo.png')
    h2= 'Look !!! some nice buttons ...'
    div(id='buttons')
    h5
      p
        br
        span &nbsp;Powered by&nbsp;
        a(href='http://www.material-ui.com/') Material UI
        span &nbsp;and&nbsp;
        a(href='http://getbootstrap.com/') Bootstrap
block footer
  include ../../inclusions/templates/footer.pug
  script(src= mainAssetsUrl + '/js/main.js')
  script(src= assetsUrl + '/js/main.js')
